<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="index.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app1">
		
		<!-- 双向数据绑定 -->
			<p>name</p>
			<input  type="text" v-model="name"/>
			<span>{{name}}</span>
			<p >age</p>
			<input type="text" v-model="age" />
			<span>{{age}}</span>
			<button v-on:click="setAge" type="button">setAge</button>
		</div>
		
		<script src="index.js">
			
		</script>
	</body>
</html>
